name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  on-success:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
    
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: false
     
      - name: Install dependencies
        run: |
          corepack enable
          pnpm install --no-frozen-lockfile
          
      - name: Hexo
        run: sed -i 's/PRESERVED_FOR_ACTIONS/${{ secrets.KV_ID }}/g' wrangler.toml

      - name: Run cleanup script
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        run: |
          node cleanup.mjs

      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: publish
        env:
          NODE_VERSION: '20'
        
        //with:
        //  apiToken: ${{ secrets.CF_API_TOKEN }}
        //  preCommands: |
        //    corepack enable
        //    pnpm install
        //    pnpm cleanupAssets
        //env:
        //  CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
